@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&family=Roboto:wght@700&display=swap");

/* ALL-RESET */
html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 100%;
}

body {
    background-color:hsl(30, 29%, 97%);
    color: hsl(219, 43%, 16%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  font-family: inherit;
}

.container{
    width: 90%;
    margin: auto;
}

.flow-content > * + * {
    margin-top: 2rem;
}

nav{
    padding: 1.5em 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

img {
    max-width: 100%;
}

  /* buttons  */
.button{
    border: 1px solid black;
    width: 219px;
    height: 56px;
    border-radius: 6px;
    text-align: center;
    padding: 0.75rem 1.0625rem;
    transition: all 0.25s ease-in;
    color: #172339;
}

.one-color-btn:hover{
    background-color: black;
    color: #FAF8F6;
    cursor: pointer;
}

.gradient-btn{
  background-color: #172339;
  color: #FAF8F6;
}

.gradient-btn:hover{
    cursor: pointer;
    color: #FAF8F6;
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

/* .gradient-btn::after{
    content: url(images/image-hero-portrait.png);
    position: absolute;
    z-index: -1;
    left: 40%;
    top: 20%;
}  */

.top-content {
    position: relative;
    padding: 3.5em 0.9375em 3.5em 0;
    z-index: 3;
}
    
.top-content::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('images/pattern-curved-line-1.svg');
    background-repeat: no-repeat;
    background-size: 9.5rem auto;
    background-position: top 10% right 30%;
    z-index: -1;
}

.header-text {
    color: #172339;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: -1px;
    padding-top: 1rem;
}

.header-text strong {
  font-weight: 700;
}

.some-text {
  width: 370px;
  color: #49566D;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: left;
}

.phone-img > img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 1rem;
}

.large-title {
    font-size: 2.5rem;
    font-weight: 700;
}
    
.jeremy-name {
    font-size: 1.125rem;
    font-weight: 700;
}
    
.jeremy-title {
    font-size: 1rem;
    font-weight: 400;
}

.reviews{
    text-align: center;
    padding: 3.5rem 0 3.5rem;
}

.number{
  font-size: 3rem;
}

.label{
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.grid {
    display: grid;
    position: relative;
    grid-template-rows:
    minmax(min-content, 11.3125rem) /* Define the first row height using min-content as the minimum and 11.3125rem as the maximum height */
    minmax(min-content, 16.3125rem) /* Define the second row height using min-content as the minimum and 16.3125rem as the maximum height */
    minmax(min-content, 32.9375rem); /* Define the third row height using min-content as the minimum and 32.9375rem as the maximum height */
    overflow: hidden;
}

.second-section {
    position: relative;
    text-align: center;
    border-radius: 1rem;
    z-index: 100;
}
    
.second-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('images/pattern-blur.svg');
    background-repeat: no-repeat;
    background-position: center top -5%;
}
    
.grid > .jeremy-img {
    position: absolute;
    justify-self: center;
    align-self: flex-start;
    grid-row: 1 / span 2;
}
    
.jeremy-img > img {
    width: 100%;
    height: 402px;
    object-fit: contain;
}
    
.testimonial-content {
  --spacer: 2.5rem;
    padding: 16.3125rem 1rem 4rem;
  background-color: hsl(219, 43%, 16%);
  color: hsl(30, 29%, 97%);
  grid-row: 2 / span 2;
  border-radius: 1rem;
}
    
.testimonial-content > img {
  margin-bottom: 2.5rem;
}

.quote{
    font-size: 1.125rem;
    letter-spacing: 0.9px;
}

/* social media handles */
.media-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
    
.media-item {
    padding: 0;
}
    
.media-item + .media-item {
    margin-left: 2rem;
}
    
.media-link {
    text-decoration: none;
}

footer {
    background-color: hsla(30, 35%, 93%, 1);
    text-align: center;
    padding: 3.5em 05em;
}

.flex{
    display: flex;
    flex-direction: column;
}

@media (min-width: 48em) {
    /* tablet structure and layout  */
  
    body {
      padding: 0 1.5em;
    }
    
    .container {
      max-width: 689px;
      width: 90%;
      margin: 0 auto;
    }
      
    .larger-title {
      font-size: 2.5rem;
      line-height: 0.9;
    }
    
    nav {
      padding: 2.5em 0 5em;
    }
    
    .first-section {
      display: grid;
      max-width: 43.0625rem;
      align-items: center;
      grid-template-columns:
        minmax(min-content, 25.5rem) minmax(min-content, 10.3125rem)
        minmax(min-content, 7.25rem);
      grid-template-rows:
        minmax(min-content, 30.125rem) minmax(min-content, 5.5rem)
        minmax(min-content, 5.1875rem);
      margin-bottom: 5.75rem;
    }

    .top-content::before {
      background-repeat: no-repeat;
      background-size: 231px auto;
      background-position: top 8% right 28%;
    }
    
    .top-content {
      --spacer: 2.5rem;
      grid-column: 1 / span 2;
      grid-row: 1;
      justify-self: end;
      margin: 0;
    }
    
    .header-text {
      letter-spacing: 3px;
    }
    
    .phone-img {
      grid-column: 2 / span 2;
      grid-row: 1;
      justify-self: start;
    }
    
    .phone-img > img {
      width: 100%;
      height: 482px;
      object-fit: cover;
      border-radius: 1rem;
    }
    
    .reviews {
      --spacer: 0;
      display: flex;
      justify-content: space-around;
      grid-column: 1 / -1;
      grid-row: 3;
      padding: 0;
    }
    
    .grid {
      display: grid;
      max-width: 43.0625rem;
      position: relative;
      grid-template-rows:
        minmax(min-content, 11.3125rem) minmax(min-content, 13.8125rem)
        minmax(min-content, 28.9375rem);
      margin: 0 auto;
    }
    
    .second-section {
      position: relative;
      z-index: 1;
    }
    
    .second-section> img {
      width: 252px;
      height: 402px;
      object-fit: contain;
    }
    
    .testimonial-content {
      --spacer: 2.5rem;
      padding: 16.3125rem 3.625em 4rem;
    }
    
    .testimonial-content > img {
      margin-bottom: 2.25rem;
    }
    
      /* footer - tablet  */
    
    footer {
      position: absolute;
      transform: translateY(-70%);
      left: 0;
      right: 0;
      width: 100%;
      padding: 35.1875em 0 4.5em;
    }
    
    .flex {
      --spacer: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
}

@media (min-width: 67.5em) {
    /* desktop stucture and layout */
  .container {
    max-width: 69.375rem;
    margin: 0 auto;
  }
  
    /* header  */
    header {
      padding: 3.125em 0 4.1875em;
    }
    
    /* socials media handles - desktop  */
    
    .media-link {
      cursor: pointer;
      transition: opacity 0.5s ease-in-out;
    }
    
    .media-link img:hover,
    .media-link img:active {
      opacity: 50%;
    }

    .first-section {
      display: grid;
      max-width: 69.375rem;
      align-items: center;
      justify-content: center;
      grid-template-columns:
        minmax(min-content, 29.625rem) minmax(min-content, 22.25rem)
        minmax(min-content, 15rem) minmax(min-content, 2.5rem);
      grid-template-rows: minmax(min-content, 37.5rem);
      margin-bottom: 9em;
    }
    
    .top-content {
      --spacer: 2.5rem;
      max-width: 39.6875rem;
      grid-column: 1 / span 2;
      justify-self: start;
      align-self: center;
      padding: 3.125em 0 5.75em;
      grid-row: 1;
      margin: 0;
      z-index: 1;
    }
    
    .top-content::before {
      background-repeat: no-repeat;
      background-size: 287px auto;
      background-position: top 5% right 14%;
    }
    
    .top-content .some-text {
      margin-bottom: 0.9375em;
    }
    
    .phone-img {
      grid-column: 1 / span 2;
      grid-row: 1;
      justify-self: end;
    }
    
    .phone-img > img {
      width: 100%;
      height: 600px;
      object-fit: cover;
      border-radius: 1rem;
    }
  
    .reviews {
      --spacer: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      justify-self: end;
      text-align: left;
      grid-column: 3;
      grid-row: 1;
      padding: 0;
    }
  
    .grid {
      display: grid;
      max-width: 1110px;
      position: relative;
      justify-content: space-between;
      grid-template-columns:
        minmax(min-content, 5rem) minmax(min-content, 23.4375rem)
        minmax(min-content, 31.0625rem) minmax(min-content, 7.8125rem);
      grid-template-rows: minmax(min-content, 3.4375rem) minmax(min-content, 34.0625rem);
      margin: 0 auto;
    }
    
    .second-section {
      position: relative;
      text-align: center;
      border-radius: 1rem;
    }
    
    .second-section::before {
      background-position: bottom -100% left;
    }
  
    .grid > .jeremy-img {
      position: absolute;
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      justify-self: end;
    }
    
    .jeremy-img > img {
      width: 100%;
      height: 600px;
      object-fit: contain;
    }
  
    .testimonial-content {
      --spacer: 2.5rem;
      display: grid;
      grid-template-columns: minmax(min-content, 4rem) 
      minmax(min-content,31.0625rem);
      gap: 0 40px;
      grid-column: 1 / -1;
      grid-row: 2;
      justify-content: end;
      align-items: center; 
      background-color: hsl(219, 43%, 16%);
      color: hsl(30, 29%, 97%);
      text-align: left;
      border-radius: 1rem;
      padding: 0;
    }
    
    .testimonial-content > section {
      max-width: 21.875rem;
    }
    
    .testimonial-content > img {
      align-self: flex-start;
      justify-self: center;
      transform: translateY(10.625rem);
    }
    
    footer {
      transform: translateY(-50%);
      padding: 22.5em 0 4.5em;
    }
}